.u-flex {
  display: flex !important;
}

.u-flex-column {
  flex-direction: column !important;
}

.u-justify-start {
  justify-content: flex-start;
}

.u-justify-end {
  justify-content: flex-end;
}

.u-justify-center {
  justify-content: center !important;
}

.u-justify-between {
  justify-content: space-between !important;
}

.u-flex-wrap {
  flex-wrap: wrap !important;
}

.u-align-content-start {
  align-content: flex-start !important;
}

.u-align-content-center {
  align-content: center !important;
}

.u-align-content-end {
  align-content: flex-end !important;
}

.u-align-items-start {
  align-items: flex-start !important;
}

.u-align-items-center {
  align-items: center !important;
}

.u-align-items-end {
  align-items: flex-end !important;
}

@include mq(lg) {
  .u-lg-flex {
    display: flex !important;
  }

  .u-lg-flex-column {
    flex-direction: column !important;
  }

  .u-lg-justify-start {
    justify-content: flex-start;
  }

  .u-lg-justify-end {
    justify-content: flex-end;
  }

  .u-lg-justify-center {
    justify-content: center !important;
  }

  .u-lg-justify-between {
    justify-content: space-between !important;
  }

  .u-lg-flex-wrap {
    flex-wrap: wrap !important;
  }

  .u-lg-align-content-start {
    align-content: flex-start !important;
  }

  .u-lg-align-content-center {
    align-content: center !important;
  }

  .u-lg-align-content-end {
    align-content: flex-end !important;
  }

  .u-lg-align-items-start {
    align-items: flex-start !important;
  }

  .u-lg-align-items-center {
    align-items: center !important;
  }
}

@include mq(md) {
  .u-md-flex {
    display: flex !important;
  }

  .u-md-flex-column {
    flex-direction: column !important;
  }

  .u-md-justify-start {
    justify-content: flex-start;
  }

  .u-md-justify-end {
    justify-content: flex-end;
  }

  .u-md-justify-center {
    justify-content: center !important;
  }

  .u-md-justify-between {
    justify-content: space-between !important;
  }

  .u-md-flex-wrap {
    flex-wrap: wrap !important;
  }

  .u-md-align-content-start {
    align-content: flex-start !important;
  }

  .u-md-align-content-center {
    align-content: center !important;
  }

  .u-md-align-content-end {
    align-content: flex-end !important;
  }

  .u-md-align-items-start {
    align-items: flex-start !important;
  }

  .u-md-align-items-center {
    align-items: center !important;
  }
}

@include mq(sm) {
  .u-sm-flex {
    display: flex !important;
  }

  .u-sm-flex-column {
    flex-direction: column !important;
  }

  .u-sm-flex-column-reverse {
    flex-direction: column-reverse !important;
  }

  .u-sm-justify-start {
    justify-content: flex-start;
  }

  .u-sm-justify-end {
    justify-content: flex-end;
  }

  .u-sm-justify-center {
    justify-content: center !important;
  }

  .u-sm-justify-between {
    justify-content: space-between !important;
  }

  .u-sm-flex-wrap {
    flex-wrap: wrap !important;
  }

  .u-sm-align-content-start {
    align-content: flex-start !important;
  }

  .u-sm-align-content-center {
    align-content: center !important;
  }

  .u-sm-align-content-end {
    align-content: flex-end !important;
  }

  .u-sm-align-items-start {
    align-items: flex-start !important;
  }

  .u-sm-align-items-center {
    align-items: center !important;
  }
}
