$responsive-helpers: "ie", "xxl", "xl", "lg", "md", "sm", "xs";

@each $resposive-helper in $responsive-helpers {
  .u-#{$resposive-helper}-no {
    @include mq(#{$resposive-helper}) {
      display: none;
    }
  }
}

@each $resposive-helper in $responsive-helpers {
  .u-#{$resposive-helper}-block {
    display: none;
    @include mq(#{$resposive-helper}) {
      display: block;
    }
  }
}
