$sides: (
  "top": "t",
  "bottom": "b",
);

@each $side in map-keys($sides) {
  @for $i from 0 through 20 {
    .u-m#{map-get($sides,$side)}#{$i} {
      margin-#{$side}: #{$i * 0.5}rem !important;
    }
  }
  @include mq(lg) {
    @for $i from 0 through 20 {
      .u-md-m#{map-get($sides,$side)}#{$i} {
        margin-#{$side}: #{$i * 0.5}rem !important;
      }
    }
  }
  @include mq(md) {
    @for $i from 0 through 20 {
      .u-md-m#{map-get($sides,$side)}#{$i} {
        margin-#{$side}: #{$i * 0.5}rem !important;
      }
    }
  }
  @include mq(sm) {
    @for $i from 0 through 20 {
      .u-sm-m#{map-get($sides,$side)}#{$i} {
        margin-#{$side}: #{$i * 0.5}rem !important;
      }
    }
  }
}

.u-mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.u-px20 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.u-pl20 {
  padding-left: 2rem;
}

.u-pr20 {
  padding-right: 2rem;
}