@for $i from 10 through 40 {
  .u-fs#{$i} {
    font-size: #{$i * 0.1}rem;
  }
}
@for $i from 10 through 40 {
  .u-md-fs#{$i} {
    @include mq(md) {
      font-size: #{$i * 0.1}rem;
    }
  }
}
@for $i from 10 through 40 {
  .u-sm-fs#{$i} {
    @include mq(sm) {
      font-size: #{$i * 0.1}rem;
    }
  }
}

.u-text-notoSans {
  font-family: 'Noto Sans JP', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', Meiryo, Verdana, sans-serif !important;
}

.u-text-sMincho {
  font-family: 'Shippori Mincho B1', serif !important;
}

.u-text-weight-thin {
  font-weight: 100;
}

.u-text-weight-light {
  font-weight: 300;
}

.u-text-weight-regular {
  font-weight: 400;
}

.u-text-weight-medium {
  font-weight: 500;
}

.u-text-weight-semi-bold {
  font-weight: 600;
}

.u-text-weight-bold {
  font-weight: 700;
}

.u-text-weight-extra-bold {
  font-weight: 800;
}

.u-text-weight-black {
  font-weight: 900;
}

.u-text-height-regular {
  line-height: 1 !important;
}

.u-text-height-medium {
  line-height: 1.5 !important;
}

.u-text-height-semiWide {
  line-height: 1.8 !important;
}

.u-text-height-wide {
  line-height: 2 !important;
}